/* .heading{
    display: flex;
    justify-content: center;
} */

/* .heading h1{
    margin: 0em;
    margin-bottom: 15px;
    font-family: sans-serif;
} */
body{
    margin: 0;
}
.nav-wrapper{
    height: 50px;
    display: 'flex';
    background-color: #4267b2;
    align-items: center;
}
.nav-component{
    display: flex;
    align-items: center;
}
.nav-component img{
    padding-top: 5px;
    width: 40px;
	margin-left: 10px;
}
.nav-component h1{
    padding-top: 5px;
    margin: 0;
    font-family: sans-serif;
    color: white;
    margin-left: 10px;
}
.calc-wrapper{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}
.calc{
    width: 18.5rem;
    padding: 0.5em;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 0.5em;
    background-image: linear-gradient(to right bottom, rgb(68, 68, 68), rgb(170, 170, 170));
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* justify-content: center; */
    align-items: center;
    align-self: center;
    box-shadow: rgb(85, 85, 85) 0px 0px 10px 0px;
}
#display{
    font-size: 1.5em;
    border: 5px inset rgb(85, 85, 85);
    background-image: linear-gradient(to right bottom, rgb(241, 248, 233), rgb(197, 225, 165)); 
    width: 100%; 
    height: 2.5rem;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    margin: 0.25em; 
    padding: 0.25em;
    color: black; 
    overflow: hidden;
}
.btn{
    margin: 2px;
    height: 3.5em; 
    width: 3.5em;
    color: white; 
    font-size: 1.25em; 
    background-image: linear-gradient(to right bottom, rgb(198, 40, 40), rgb(183, 28, 28));
}
.row{
    width: -webkit-fill-available; 
    display: flex; 
    justify-content: flex-start;
}
.row-wrapper-outer{
    display: flex;
    flex-direction: row;

}
.btn-big{
    height: 9rem;
}
.del-grp{
    display: flex;
    flex-direction: column;

}
.btn-small{
    height: 2.05rem;
}
.btn-yellow{
    /* background-image: linear-gradient(to right bottom, rgb(255,69,0), rgb(255,140,0)); */
    background-image: linear-gradient(to right bottom, rgb(255,0,0), rgb(183, 28, 28));
}
.btn-blue{
    background-image: linear-gradient(to right bottom, rgb(95,158,160), rgb(106,90,205));
}
.btn-black{
    background-image: linear-gradient(to right bottom, 	rgb(205,133,63),rgb(210,105,30));
    /* background-image: linear-gradient(to right bottom, rgb(255,69,0), rgb(255,140,0)); */
}

/* .footer{
    margin-top: 50px;
} */